.wrapper {
    padding: 5px;
}

.people > a {
    color: #1C6C9E;
    font-weight: 700;
    text-decoration: unset;
    font-size: 18px;
}

.people > a.active {
    background: -webkit-linear-gradient(rgb(83, 189, 73), #363030);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: unset;
    font-weight: 600;
}