.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.Header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Navbar {
  width: 100%;
  min-width: 150px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.content {
  background-color:rgba(125, 175, 192, 0.507);
}

.Profile, .Dialogs, .News, .Music, .Settings {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}